<h1>Home Page!</h1>

<h3>Welcome to MeDr</h3>


<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Patient Sign Up', new_patient_path%>
  <%= link_to 'Doctor Sign Up', new_doctor_path%>
  <%= link_to 'Sign In', login_path %>
  <!-- <%= link_to 'Sign Out', login_path, :method => 'delete' %> -->
</nav>
