<main class="wrapper">

  <section class="section parallax bg1">
      <h3 id="welcome">MeDr</h3>
  </section>

  <section class="section static">
    <h1>About Medr</h1>
  </section>

  <section class="section parallax bg2">
    <!-- <h1>Section 3</hi> -->
    <div class="about">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <footer>
      <p>Created by Damien Lowe at WDI24 2017</p>
    </footer>
  </section>
</main>




<div class="button-container">
  <!-- Trigger the modal with a button -->
  <!-- <%= button_to 'Sign In', login_path, :data => {:toggle => "modal", :target => "#myModal"}, :class => "btn btn-info btn-lg"%> -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal-3" id="togglebutton">Doctor Sign Up</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal-3" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title mod-head">Welcome, Doc!</h4>
          </div>
          <div class="modal-body">

            <%= form_for Doctor.new, :url => login_path, :method => "post", html: {id: "signupForm"}, remote: true do |f| %>
              <fieldset class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, :class => "form-control" %>
              </fieldset>

              <fieldset class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, :class => "form-control", :name => "password" %>
              </fieldset>

              <fieldset class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, :class => "form-control" %>
              </fieldset>

              <fieldset class="form-group home-modal-button">
                <%= f.submit "New Doctor" %>
              </fieldset>
            <% end %>
            <div id="errors"></div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<!-- Trigger the modal with a button -->
<!-- <%= button_to 'Sign In', login_path, :data => {:toggle => "modal", :target => "#myModal"}, :class => "btn btn-info btn-lg"%> -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="togglebutton">Sign In</button>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content login-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title mod-head" >Enter your login details</h4>
        </div>
        <div class="modal-body">

          <%= form_tag login_path, class: 'login-form' do %>
            <fieldset>
              <%= label_tag :email %>
              <%= email_field_tag :email %>
            </fieldset>

            <fieldset>
              <%= label_tag :password %>
              <%= password_field_tag :password %>
            </fieldset>

            <fieldset class="home-modal-button-sign">
                <%= submit_tag "Login" %>
            </fieldset>
          <% end %>

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Trigger the modal with a button -->
<!-- <%= button_to 'Sign In', login_path, :data => {:toggle => "modal", :target => "#myModal"}, :class => "btn btn-info btn-lg"%> -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal-2" id="togglebutton">Patient Sign Up</button>

<!-- Modal -->
<div class="modal fade" id="myModal-2" role="dialog">
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title mod-head">Hello, New Patient</h4>
      </div>
      <div class="modal-body">

        <%= form_for Patient.new do |f| %>
          <fieldset class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, :class => "form-control" %>
          </fieldset>

          <fieldset class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, :class => "form-control"  %>
          </fieldset>

          <fieldset class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :class => "form-control"  %>
          </fieldset>

          <fieldset class="form-group home-modal-button">
            <%= f.submit "New Patient" %>
          </fieldset>
        <% end %>

        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>


<a href="#" class="scroll-down">
  <i class="icon"></i>
  <span id="scroller">scroll down</span>
</a>

<script>

  $(document).ready(function () {
    $(window).on('mousemove mousewheel', function() {
      console.log('move', $('section').first().position().top)
      if ($('section').first().position().top < -396) {
          $(".button-container").hide();
      } else {
        $(".button-container").show();
      }

      if ($('section').first().position().top < -996) {
          $(".scroll-down").hide();
      } else {
        $(".scroll-down").show();
      }
    });
  });
</script>

<script>
$(document).ready(function() {
    $('#signupForm').formValidation({
        framework: 'bootstrap',
        excluded: ':disabled',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            email: {
                validators: {
                    notEmpty: {
                        message: 'The email is required'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: 'The password is required'
                    }
                }
            }
        }
    });
});
</script>
