<header class="doctor-header">
  <h2 class="doctor-heading">Referrals List</h2>

  <nav class="doctor-nav">
    <%= link_to "Return home Doc!", doctor_path(session[:doctor_id]) %>
    <%= link_to "Create Referral", new_doctor_referral_path(session[:doctor_id])%>
    <%= link_to "Referrals List", doctor_referrals_path(session[:doctor_id]) %>
    <%= link_to "Account Settings", account_settings_doctors_path%>
    <%= link_to 'Sign Out', login_path, :method => 'delete' %>
  </nav>
</header>



<h3>To:</h3>
<% @doctor.sent_referrals.each do | referral | %>
  <ul>
    <!-- <li><%= referral.patient_id%></li> -->
    <li><%= link_to "Referral to #{referral.referee.name}", show_referral_patients_path(referral.id) %></li>
  </ul>
<% end %>

<h3>From:</h3>

<% @doctor.received_referrals.each do | referral | %>
  <ul>
    <li><%= link_to "Referral from #{referral.referrer.name}", show_referral_patients_path(referral.id) %></li>
  </ul>
<% end %>
