<h1>Create a new referral!!</h1>

<nav>
  <%= link_to "Return home Doc!", doctor_path(session[:doctor_id]) %>
  <%= link_to "Create Referral", new_doctor_referral_path(session[:doctor_id])%>
  <%= link_to "Referrals List", doctor_referrals_path(session[:doctor_id]) %>
  <%= link_to "Account Settings", account_settings_doctors_path%>
  <%= link_to 'Sign Out', login_path, :method => 'delete' %>
</nav>


<%= form_for @referral, url: {action: "create"} do | f | %>

  Recipient:
  <%= f.collection_select(:referee_id, Doctor.all, :id, :name) %>

  <fieldset>
    When:
    <%= f.text_field :time%>
  </fieldset>


  <fieldset>
    For:
    <%= f.select :patient_id, Patient.pluck(:name, :id), :include_blank => true %>
  </fieldset>

  <fieldset>
    Patient ID#:
    <%= f.select :patient_id, Patient.pluck(:id), :include_blank => true %>
  </fieldset>

  Issues:
  <fieldset>
    <%= f.text_area :body, :name => "Issues"%>
  </fieldset>

  <fieldset>
    <%= f.submit "Create Referral" %>
  </fieldset>
<% end %>
