<header class="doctor-header">
  <h2 class="doctor-heading">Create a new referral</h2>

  <nav class="doctor-nav">
    <%= link_to "Return home Doc!", doctor_path(session[:doctor_id]) %>
    <%= link_to "Create Referral", new_doctor_referral_path(session[:doctor_id])%>
    <%= link_to "Referrals List", doctor_referrals_path(session[:doctor_id]) %>
    <%= link_to "Account Settings", account_settings_doctors_path%>
    <%= link_to 'Sign Out', login_path, :method => 'delete' %>
  </nav>
</header>


<%= form_for @referral, url: {action: "create"} do | f | %>

  Recipient:
  <%= f.collection_select(:referee_id, Doctor.all, :id, :name) %>

  <fieldset>
    When:
    <%= f.text_field :time%>
  </fieldset>


  <fieldset>
    For:
    <%= f.select :patient_id, Patient.pluck(:name, :id), :include_blank => true %>
  </fieldset>

  <fieldset>
    Patient ID#:
    <%= f.select :patient_id, Patient.pluck(:id), :include_blank => true %>
  </fieldset>

  <!-- Conditions:
  <fieldset>
    <%= f.text_field :conditions%>
  </fieldset> -->

  Comments:
  <fieldset>
    <%= f.text_area :body, :name => "Comments"%>
  </fieldset>

  <fieldset>
    <%= f.submit "Create Referral" %>
  </fieldset>
<% end %>
