<header class="doctor-header">
  <h2 class="doctor-heading">Create a new referral</h2>

  <nav class="doctor-nav">
    <%= link_to "Return home Doc!", doctor_path(session[:doctor_id]) %>
    <%= link_to "Create Referral", new_doctor_referral_path(session[:doctor_id])%>
    <%= link_to "Referrals List", doctor_referrals_path(session[:doctor_id]) %>
    <%= link_to "Account Settings", account_settings_doctors_path%>
    <%= link_to 'Sign Out', login_path, :method => 'delete' %>
  </nav>
</header>


<%= form_for @referral, url: {action: "create"} do | f | %>


  <!-- (Object, method, collection, value_method) -->
  <fieldset id="collect-select" class="dropdown">
    <span>Recipient</span>
    <%= f.collection_select(:referee_id, Doctor.all, :id, :name, :include_blank => true) %>
  </fieldset>

  <fieldset id="ref-patient" class="dropdown">
    <span>For</span>
    <%= f.select :patient_id, Patient.pluck(:name, :id), :include_blank => true, :class => "form-control" %>
  </fieldset>

  <fieldset id="ref-patientId" class="dropdown">
    <span>Patient ID#</span>
    <%= f.select :patient_id, Patient.pluck(:id), :include_blank => true, :class => "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <span>When</span>
    <%= f.text_field :time , :class => "form-control"%>
  </fieldset>

  <fieldset class="form-group" id="ref-comments">
    <span>Comments</span>
    <%= f.text_area :body, :class => "new-textarea form-control"%>
  </fieldset>

  <fieldset class="form-group" id="submit-ref">
    <%= f.submit "Create Referral"%>
  </fieldset>
<% end %>
