<h1>Manage your account settings</h1>

<nav>
  <%= link_to "Return home!", patient_path(session[:patient_id])%>
  <%= link_to "Your Referrals", check_referral_patients_path %>
  <%= link_to "Pending Requests", pending_requests_patients_path%>
  <%= link_to "Account Settings", account_settings_patients_path%>
  <%= link_to 'Sign Out', login_path, :method => 'delete' %>
</nav>


<%= form_for @patient do | f | %>

  <fieldset>
    <%= f.label :name  %>
    <%= f.text_field :name %>
  </fieldset>

  <fieldset>
    <%= f.label :dob %>
    <%= f.text_field :dob %>
  </fieldset>

  <fieldset>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </fieldset>

  <fieldset>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </fieldset>

  <fieldset>
    <%= f.label :medicare %>
    <%= f.text_field :medicare %>
  </fieldset>

  <fieldset>
    <%= f.label :health_fund %>
    <%= f.text_field :health_fund %>
  </fieldset>

  <fieldset>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </fieldset>

  <fieldset>
    <%= f.submit %>
  </fieldset>
<% end %>

<%= button_to 'Delete Account', patient_path(@patient.id), :method => 'delete' %>
