<header class="patient-header">
  <h2>Account Settings</h2>

  <nav class="patient-nav">
    <%= link_to "Home", patient_path(session[:patient_id])%>
    <%= link_to "Your Referrals", check_referral_patients_path %>
    <%= link_to "Pending Requests", pending_requests_patients_path%>
    <%= link_to "Account Settings", account_settings_patients_path%>
    <%= link_to 'Sign Out', login_path, :method => 'delete' %>
  </nav>
</header>



<%= form_for @patient do | f | %>

  <fieldset class="form-group">
    <%= f.label :name  %>
    <%= f.text_field :name, :class => "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :dob %>
    <%= f.text_field :dob, :class => "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, :class => "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, :class => "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :medicare %>
    <%= f.text_field :medicare, :class => "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :health_fund %>
    <%= f.text_field :health_fund, :class => "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "form-control" %>
  </fieldset>

  <fieldset class="form-group fsubmit">
    <%= f.submit %>
  </fieldset>
<% end %>

<%= button_to 'Delete Account', patient_path(@patient.id), :method => 'delete', :class => "button-delete" %>
