<h1>This is the sign-up page if you are a NEW PATIENT</h1>
<% if @patient.errors.any? %>
  <ol>
    <% @patient.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @patient do |f| %>
  <fieldset class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :class => "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, :class => "form-control"  %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "form-control"  %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.submit "New Patient", :class = > "btn btn-default" %>
  </fieldset>
<% end %>
