<h2>Referral #<%="#{@referral.id}" %></h2>


  <li>From: <%= @referral.referee.name %></li>
  <li>To: <%= @referral.referrer.name %></li>

  <li>For: <%= @referral.patient.name %></li>
  <li>When: <%= @referral.time %></li>

  <li>Concerns: <%= @referral.body%></li>
