<h1>This is the sign-up page if you are NEW DOCTOR</h1>
<% if @doctor.errors.any? %>
  <ol>
    <% @doctor.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @doctor do |f| %>
  <fieldset class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :class => "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, :class => "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.submit "New Doctor" %>
  </fieldset>
<% end %>
