<header class="doctor-header">
  <h2 class="doctor-heading">Hello, Dr. <%= @doctor.name %></h2>

  <nav class="doctor-nav">
    <%= link_to "Create Referral", new_doctor_referral_path(session[:doctor_id])%>
    <%= link_to "Referrals List", doctor_referrals_path(session[:doctor_id]) %>
    <%= link_to "Account Settings", account_settings_doctors_path%>
    <%= link_to 'Sign Out', login_path, :method => 'delete' %>
  </nav>
</header>


<!-- HELLO  -->
