<h1>This is the DOCTOR'S HOME PAGE</h1>

<nav>
  <%= link_to "Return home Doc!", doctor_path %>
  <%= link_to "Create Referral", create_referral_doctors_path%>
  <%= link_to "Pending Requests", pending_requests_doctors_path %>
  <%= link_to "Account Settings", account_settings_doctors_path%>
  <%= link_to "Sign Out" %>
</nav>
