<!DOCTYPE html>
<html>
  <head>
    <title>Medr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Patient Sign Up', new_patient_path%>
      <%= link_to 'Doctor Sign Up', new_doctor_path%>
      <%= link_to 'Sign In', login_path %>
      <!-- <%= link_to 'Sign Out', login_path, :method => 'delete' %> -->
    </nav>

  <body>
    <%= yield %>
  </body>
</html>
